
<div>
    <div class="card text-center">
      <div  class="card-header font-weight-bold black-text p-0" >
        <div class="btn btn-right">
            <mat-icon  (click)="fermer()" title="close" aria-hidden="false">close</mat-icon>
        </div>
        
      </div></div><br>
    <div class="card-body" >
      <div  class="row">
        <h5 >  Add {{data.Title}} to watchlist </h5>
        
      </div>
    </div>
   
    
        <div  class="btn-group" >
            <button  type="submit" title="save" (click)="onSubmit(data)"><span >YES</span></button>  
            <button   type="reset" title="close" (click)="fermer()"><span >NO</span></button>
            
         </div>
       
</div>
