#espleft{
   
    margin-left: 20px;
    margin-right: 10px;
   
    
}
#titlelabel{
   
  font-size: 15px;
   font-weight: bold;
    
}
#containlabel{
    font-size: 15px;
}
#pass{

     margin-right: 10px;
    
 }