
<div>
    <div class="text-right btn btn-secondary float-end">
        <mat-icon    title="close" (click)="fermer()" aria-hidden="false"  >close</mat-icon>
          
       
       </div>

    <br> <br>
    <div class="card-body" >
     <table>
         <tr>
             <td>
            <label id="espleft"><h6 id="titlelabel">Title :</h6></label>
            <label id="pass"><h6 id="containlabel">{{media.Title}}</h6> </label>
        </td>
        <td>
            <label id="espleft"><h6 id="titlelabel">Genre :</h6></label>
            <label id="pass"><h6 id="containlabel">{{media.Genre}}</h6> </label>
        </td>
         </tr>
         <tr>
            <td>
           <label id="espleft"><h6 id="titlelabel">Writer :</h6></label>
           <label id="pass"><h6 id="containlabel">{{media.Writer}}</h6> </label>
       </td>
       <td>
           <label id="espleft"><h6 id="titlelabel">Year :</h6></label>
           <label id="pass"><h6 id="containlabel">{{media.Year}}</h6> </label>
       </td>
        </tr>
        <tr>
            <td>
           <label id="espleft"><h6 id="titlelabel">Actors :</h6></label>
           <label id="pass"><h6 id="containlabel">{{media.Actors}}</h6> </label>
       </td>
       <td>
           <label id="espleft"><h6 id="titlelabel">Country :</h6></label>
           <label id="pass"><h6 id="containlabel">{{media.Country}}</h6> </label>
       </td>
        </tr>
        <tr>
            <td>
           <label id="espleft"><h6 id="titlelabel">Released :</h6></label>
           <label id="pass"><h6 id="containlabel">{{media.Released}}</h6> </label>
       </td>
       <td>
           <label id="espleft"><h6 id="titlelabel">Language :</h6></label>
           <label id="pass"><h6 id="containlabel">{{media.Language}}</h6> </label>
       </td>
        </tr>
     </table>
    </div>
    
    
   
       
</div>
